html,body {
    height: 100%;
    width: 100%;
}

body {
    padding-top:50px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    background-color: #222;
    background-image: url("img/backgrounds/suits-light.png");
}

.dropdown-submenu {
    position: relative;

}

.barajaMatriz {
    word-wrap: break-word;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-brand img {
    height: 50px;
    display: inline;
}
.navbar-brand {
    padding:0;
    padding-right:10px;
    }

.matriz input {
    padding:10px;
    text-align: center;
}

#matrizAscii {
    display:inline-block;
    background:silver;
    width:100%;
    height:100%;
    padding-top: 5px;
}

.progress {
    margin-bottom: 10px
}

.tab-pane {
    padding-top: 10px;
}

input[type="color"]{
    cursor: pointer;
    width: 120px;
}

.inputSettings {
    width: 120px;
    display: inline-table;
    height: 22px;
    vertical-align: bottom;
}

th {
    background: #eee;
}

.aL {
    text-align: left;
}

.aR {
    text-align: right;
}

.aC {
    text-align: center;
}

.aJ {
    text-align: justify;
}

.inputSettings input,
#modalCato input,
#modalFaro input {
    height: 22px;
    padding: 0px;
    text-align: right;
}

.inputSettings span{
    height: 22px !important;
    padding: 0px 10px;
}

.subtitulo {
    font-size:10pt;
}

.contenedor {
    height: auto;
    min-height: 150px;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    padding-left: 100px;
    margin-top: 0px;
    text-align: center;
}

.contenedorPaquete {
    height: auto;
    min-height: 150px;
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
    margin-top: 0px;
    text-align: center;
}
#tapete {
    margin-top: 60px;
}

#tapeteFondo {
    display: block;
}

#ordenPersonal {
    resize: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 9pt;
}


.botonera {
    padding: 5px;
    padding-left: 18px;
    text-align: center;
}

.botonera input[type="button"]{
    margin-bottom: 5px;
}

.baraja {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 35px;

}
    
.baraja li {
    display: inline-flex;
    margin-left: -83px;
    margin-top: -90px;
}

.naipe {
    display: inline-block;
    width: 100px;
    height: 140px;
    border: 1px solid silver;
    background-color: white;
    background-size: 100px 140px;
    background-position: -1px 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: -2px -0.5px 2px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px -0.5px 2px -1px rgba(0,0,0,0.2);
    box-shadow: -2px -0.5px 2px -1px rgba(0,0,0,0.2);
    position: relative;
    font-size:12px;
    color: grey;
    cursor: pointer;
}

.naipe-vacio {
    display: inline-block;
    width: 110px;
    height: 140px;
}

.naipe:hover {
    color: grey;
    text-decoration: none;
}

#moduloPaquetes {
    padding-top: 240px;
}

.paqueteBaraja {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
}

.paqueteBaraja li {
    display: block;
    margin-top: -188px;

}
.paqueteNaipe {
    display: inline-block;
    width: 249px;
    height: 182px;
    background-image: url("img/decks/bicycle/perspective.png");
    background-size: 250px 182px;
    background-position: 0px 0px;
    -webkit-border-bottom-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    position: relative;
    padding:2px;
    font-size:12px;
    color: grey;
    cursor: pointer;
}

.borBlanco {
    border-bottom: 1px solid white;
}

.borGris {
    border-bottom: 1px solid silver;
}

#modalEditarAgregar .naipe {
    cursor:default;
}

#modalEditarAgregar .detalles {
    display: inline-block;
    width: 100px;
    height: 140px;
    position: relative;
    vertical-align: top;
}

.rotulo {
    width: 20px;
    font-size: 7.5pt;
    text-align: center;
    margin-top: -2px;
    display: table-caption;
    cursor: pointer;
    color: #303030;
}

.rotulo hr {
    margin: 0;
    border: 0;
    margin-bottom: 22px;
}

.rotulo table {
    height:100px;
    width:16px;
}

.rotulo td {
    vertical-align:bottom;
}

#consola {
    background: black;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    font-size:10pt;
    clear:both;
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
}

#consolaInput {
    background: transparent;
    width: calc(100% - 30px);
    border: 0px solid;
    white-space: pre;
    padding-left: 5px;
}

#consolaInput:focus {
    outline: none;
}

#consolaOutput {
    border-top: 1px solid;
    height: 100px;
    overflow-y: scroll;
    white-space: pre;
    padding: 2px;
}

.centrado {
    text-align: center;
}

#liFullScreen {
    display:none;
}

.atajo {
    font-size: 9pt;
    line-height: 20px;
    color:gray;
    float: right;
}

.bgYellow {
    background: yellow;
}

.nuevo {
    font-size: 7pt;
    line-height: 20px;
    color:green;
    float: right;
}

.bug {
    font-size: 7pt;
    line-height: 20px;
    color:red;
    float: right;
}

.w50p {
    width: 50%;
}

.w90 {
    width: 90px;
}

.w200 {
    width: 200px;
}

.w210 {
    width: 210px;
}

.w220 {
    width: 220px;
}

.w230 {
    width: 230px;
}

.w240 {
    width: 240px;
}

.w250 {
    width: 250px;
}

.bgYellow {
    background: yellow;
}

.modal-body table {
    width: 100%;
}

.modal-body table td {
    padding: 2px 5px;
}

.printable td {
    
    font-family: "Liberation Serif";
    font-size: 12pt;
    text-align: center;
}

.input-group-addon {
    cursor: pointer;
}

.btn-default {
    background: #DDD;
}

.btn-default:hover {
    background: #CCC;
}

#modalDesarrollarFeature .modal-header div {
    font-style: italic;
    padding: 5px 20px 0px;
}

#modalDesarrollarFeature .jumbotron {
    margin-bottom: 0px;
}

#modalDesarrollarFeature h2 {
    line-height: 0;
    padding-bottom: 30px;
}

.barajaImg {
    float: left;
    margin-right: 5px;
    display: none;
}

.barajaDesc {
    padding: 5px;
}

.ordenPalos {
    display: none;
}

.notificaciones .alert {
    margin-bottom: 0px; 
    border-radius: 0px;
}

.notificaciones code {
    float: right;
}

.statAyuda {
    cursor: pointer;
}

.statAyuda:hover {
    outline: dashed 1.5px red;
}

#modalAbrirDeck table{
    margin-bottom: 0px;
}

#modalAbrirDeck table td {
    padding-bottom: 0px;
    height: 40px;
    vertical-align: baseline;
}

#modalAbrirDeck .modal-body {
    padding-bottom: 0px;
}

.opciones {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}